<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title>{{ 'DELEGACIONES.TITULO' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="delegaciones-content">
  <!-- Mapa interactivo como fondo -->
  <div class="map-container" #mapContainer></div>

  <!-- Buscador -->
  <ion-searchbar
    #searchBar
    placeholder="{{ 'DELEGACIONES.BUSCADOR.PLACEHOLDER' | translate }}"
    mode="ios"
    [(ngModel)]="searchTerm"
    (ionInput)="handleSearch()"
    animated="true"
    class="search-bar"
  ></ion-searchbar>

  <!-- Carrusel en la parte baja -->
  <div
    #carouselContainer
    class="carousel-container"
    *ngIf="filteredDelegaciones.length; else emptyState"
  >
    <swiper-container
      [attr.slides-per-view]="'auto'"
      [attr.centered-slides]="'true'"
      [attr.loop]="'false'"
      [attr.space-between]="'16'"
      [attr.grab-cursor]="'true'"
      class="delegaciones-swiper"
      (swiperslidechange)="onSlideChange($event)"
    >
      <swiper-slide
        *ngFor="let delegacion of filteredDelegaciones; let i = index"
        class="delegacion-slide"
        [attr.data-index]="i"
      >
        <ion-card
          class="delegacion-card"
          [class.active]="delegacion.id === activeDelegacion?.id"
          button
          (click)="openDelegacionDetalle(delegacion)"
        >
          <ion-img [src]="delegacion.imagenUrl" [alt]="delegacion.nombre"></ion-img>
          <ion-card-header>
            <ion-card-title
              >{{ 'DELEGACIONES.DELEGACION' | translate }} {{ delegacion.nombre }}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <div class="delegacion-address">
              <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
              <span>{{ delegacion.direccion }}</span>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>

  <ng-template #emptyState>
    <div class="empty-state">
      <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
      <p>{{ 'DELEGACIONES.ERROR.MENSAJE' | translate }}</p>
    </div>
  </ng-template>
</ion-content>
