<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/delegaciones"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'DELEGACION.TITULO' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="delegacion; else notFound">
    <ion-img
      [src]="delegacion.imagenUrl"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>
    <div class="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ delegacion.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p *ngIf="delegacion.direccion">
            <strong>{{ 'DELEGACION.DETALLE.DIRECCION' | translate }}:</strong> {{
            delegacion.direccion }}
          </p>
          <p *ngIf="delegacion.telefono">
            <strong>{{ 'DELEGACION.DETALLE.TELEFONO' | translate }}:</strong> {{ delegacion.telefono
            }}
          </p>
          <p *ngIf="delegacion.email">
            <strong>{{ 'DELEGACION.DETALLE.EMAIL' | translate }}:</strong> {{ delegacion.email }}
          </p>
          <div *ngIf="delegacion.horario.length" class="horario">
            <p class="horario-label">
              <strong>{{ 'DELEGACION.DETALLE.HORARIO' | translate }}:&nbsp;</strong>
            </p>
            <div>
              <p class="horario-row" *ngFor="let tramo of delegacion.horario">
                <ng-container *ngIf="tramo.desdeKey; else diaUnico"
                  >{{ tramo.desdeKey | translate }} a {{ tramo.hastaKey | translate
                  }}:</ng-container
                >
                <ng-template #diaUnico> {{ tramo.diaKey | translate }}:</ng-template>
                &nbsp;
                <span class="horario-hora"> {{ tramo.inicio }} - {{ tramo.fin }}</span>
              </p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <div class="actions">
        <ion-button *ngIf="validTel" expand="block" [href]="'tel:' + cleanTel">
          <ion-icon name="call-outline" aria-hidden="true" slot="start"></ion-icon>
          {{ 'DELEGACION.BOTONES.LLAMAR' | translate }}
        </ion-button>
        <ion-button
          *ngIf="validEmail"
          expand="block"
          fill="outline"
          [href]="'mailto:' + delegacion.email"
        >
          <ion-icon name="send-outline" aria-hidden="true" slot="start"></ion-icon>
          {{ 'DELEGACION.BOTONES.ENVIAR_EMAIL' | translate }}
        </ion-button>
        <ion-button
          *ngIf="delegacion.mapsUrl || delegacion.mapsPlaceId"
          expand="block"
          color="tertiary"
          (click)="openMap()"
        >
          <ion-icon name="map-outline" aria-hidden="true" slot="start"></ion-icon>
          {{ 'DELEGACION.BOTONES.ABRIR_MAPA' | translate }}
        </ion-button>
      </div>
    </div>
  </ng-container>

  <ng-template #notFound>
    <div class="empty-state">
      <ion-icon name="alert-circle-outline" aria-hidden="true"></ion-icon>
      <p>{{ 'DELEGACION.ERROR.MENSAJE' | translate }}</p>
      <ion-button expand="block" (click)="goBack()"
        >{{ 'DELEGACION.ERROR.VOLVER' | translate }}</ion-button
      >
    </div>
  </ng-template>
</ion-content>
