<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title>Ayuda e información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Recursos</ion-label>
    </ion-list-header>
    <ion-item
      *ngFor="let recurso of recursosSection"
      [button]="recurso.tipo !== 'text'"
      (click)="recurso.tipo !== 'text' && openResource(recurso)"
    >
      <ion-icon
        [name]="recurso.tipo === 'pdf' ? 'document-text-outline' : 'link-outline'"
        slot="start"
      ></ion-icon>
      <ion-label>
        <h2>{{ recurso.titulo }}</h2>
        <p *ngIf="recurso.tipo === 'pdf'">Documento PDF</p>
      </ion-label>
      <ion-badge *ngIf="recurso.tipo === 'link'" color="tertiary">Enlace</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Guías rápidas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let guia of guiasSection">
      <ion-icon name="help-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ guia.titulo }}</h2>
        <p>{{ guia.contenido }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
